<%- include('../layouts/header') %>

<section class="about-one pt-120">
  <div class="container">
    <div class="row row-gutter-y-60">
      <div class="col-lg-6">
        <div class="about-one__content">
          <div class="block-title text-left">
            <p class="block-title__tagline">Core Services</p>
            <h2 class="block-title__title">
              We’re Trusted leaders in Venture Capital, Loans & Investments
              Funding.
            </h2>
            <!-- /.block-title__title -->
          </div>
          <!-- /.block-title -->
          <p class="about-one__text">
            Our expert team are pulled from work fin-tech leaders to give you
            the best services and value for your money.
          </p>
          <!-- /.about-one__text -->
          <div class="row row-gutter-y-20">
            <div class="col-md-6">
              <div class="about-one__box">
                <div class="about-one__box__icon">
                  <i class="icon-money-transfer"></i>
                </div>
                <!-- /.about-one__box__icon -->
                <div class="about-one__box__content">
                  <h3 class="about-one__box__title">Personal Loan & finance</h3>
                  <!-- /.about-one__box__title -->
                  <p class="about-one__box__text">
                    We also serve personal loan and finance to our clients on
                    individual basis.
                  </p>
                  <!-- /.about-one__box__text -->
                </div>
                <!-- /.about-one__box__content -->
              </div>
              <!-- /.about-one__box -->
            </div>
            <!-- /.col-md-6 -->
            <div class="col-md-6">
              <div class="about-one__box">
                <div class="about-one__box__icon">
                  <i class="icon-bank-transfer"></i>
                </div>
                <!-- /.about-one__box__icon -->
                <div class="about-one__box__content">
                  <h3 class="about-one__box__title">Business Loan & finance</h3>
                  <!-- /.about-one__box__title -->
                  <p class="about-one__box__text">
                    Businesses can also count on us for their loan and finance
                    to support their business.
                  </p>
                  <!-- /.about-one__box__text -->
                </div>
                <!-- /.about-one__box__content -->
              </div>
              <!-- /.about-one__box -->
            </div>
            <!-- /.col-md-6 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.about-one__content -->
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-lg-6">
        <div class="about-one__image">
          <img src="assets/images/resources/about-1-1.png" alt="" />
        </div>
        <!-- /.about-one__image -->
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.about-one -->

<section class="pt-120 pb-40">
  <div class="container">
    <div class="row row-gutter-y-30">
      <div class="col-lg-4 col-md-12">
        <div class="image-box">
          <img src="assets/images/resources/info-1-1.png" alt="" />
          <h3 class="image-box__title">
            <a href="#">Loan & Credit Auditing</a>
          </h3>
          <!-- /.image-box__title -->
          <p class="image-box__text">
            Take control of your finances with Elite Capital Funding Group LLC's
            loan and credit auditing services. Our team can help you identify
            areas for improvement. Schedule a consultation today.
          </p>
          <!-- /.image-box__text -->
        </div>
        <!-- /.image-box -->
      </div>
      <!-- /.col-lg-4 col-md-12 -->
      <div class="col-lg-4 col-md-12">
        <div class="image-box">
          <img src="assets/images/resources/info-1-2.png" alt="" />
          <h3 class="image-box__title">
            <a href="#">Loan & Credit Consulting</a>
          </h3>
          <!-- /.image-box__title -->
          <p class="image-box__text">
            Expert loan and credit consulting to achieve your financial goals.
            Trust Elite Capital Funding Group LLC for personalized guidance.
            Schedule your consultation today.
          </p>
          <!-- /.image-box__text -->
        </div>
        <!-- /.image-box -->
      </div>
      <!-- /.col-lg-4 col-md-12 -->
      <div class="col-lg-4 col-md-12">
        <div class="image-box">
          <img src="assets/images/resources/info-1-3.png" alt="" />
          <h3 class="image-box__title">
            <a href="#">Loan & Credit Advisory</a>
          </h3>
          <!-- /.image-box__title -->
          <p class="image-box__text">
            Get comprehensive loan and credit advisory services from Elite
            Capital Funding Group LLC. Our expert advisors provide tailored
            solutions to meet your financial needs. Contact us now.
          </p>
          <!-- /.image-box__text -->
        </div>
        <!-- /.image-box -->
      </div>
      <!-- /.col-lg-4 col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- / -->

<section class="call-to-action-one call-to-action-one--has-bottom-margin">
  <div class="container">
    <div
      class="call-to-action-one__inner wow fadeInUp"
      data-wow-duration="1500ms"
    >
      <div
        class="call-to-action-one__bg"
        style="background-image: url(assets/images/backgrounds/cta-1-1-bg.jpg)"
      ></div>
      <!-- /.call-to-action-one__bg -->
      <h3 class="call-to-action-one__title">
        Are you ready to get our Loan & Funding services?
      </h3>
      <!-- /.call-to-action-one__title -->
      <div class="call-to-action-one__btns">
        <a href="/pages/apply-for-loan" class="thm-btn">Let’s Get Started</a
        ><!-- /.thm-btn -->
      </div>
      <!-- /.call-to-action-one__btns -->
    </div>
    <!-- /.call-to-action-one__inner -->
  </div>
  <!-- /.container -->
</section>
<!-- /.call-to-action-one -->
<%- include('../layouts/footer') %>
