<%- include('../layouts/header') %>
<section class="faq-grid pt-20 pb-120">
  <div class="container">
    <div class="row row-gutter-y-20">
      <div class="col-lg-6">
        <div
          class="accrodion-grp faq-one-accrodion"
          data-grp-name="faq-one-accrodion-1"
        >
          <!--Start Faq One Single-->
          <div class="accrodion wow fadeInUp" data-wow-delay="0ms">
            <div class="accrodion-title">
              <h4>
                What types of loans do you offer?
                <span class="accrodion-icon"></span>
              </h4>
            </div>
            <div class="accrodion-content">
              <div class="inner">
                <p>
                  We offer a range of loans including business loans, personal
                  loans, equipment financing, real estate financing, and more.
                </p>
              </div>
            </div>
          </div>
          <!-- End Faq One Single-->
          <!--Start Faq One Single-->
          <div class="accrodion active wow fadeInUp" data-wow-delay="0ms">
            <div class="accrodion-title">
              <h4>
                What is the application process for a loan?
                <span class="accrodion-icon"></span>
              </h4>
            </div>
            <div class="accrodion-content">
              <div class="inner">
                <p>
                  The application process varies depending on the type of loan.
                  Generally, you will need to fill out an application form and
                  provide documentation such as financial statements and credit
                  reports.
                </p>
              </div>
            </div>
          </div>
          <!-- End Faq One Single-->
          <!--Start Faq One Single-->
          <div class="accrodion wow fadeInUp" data-wow-delay="0ms">
            <div class="accrodion-title">
              <h4>
                How long does it take to get approved for a loan?
                <span class="accrodion-icon"></span>
              </h4>
            </div>
            <div class="accrodion-content">
              <div class="inner">
                <p>
                  The approval process can vary depending on the type of loan
                  and the complexity of your application. Some loans can be
                  approved in as little as 24 hours, while others may take
                  several weeks.
                </p>
              </div>
            </div>
          </div>
          <!-- End Faq One Single-->
          <!--Start Faq One Single-->
          <div class="accrodion wow fadeInUp" data-wow-delay="0ms">
            <div class="accrodion-title">
              <h4>
                What are the interest rates for your loans?
                <span class="accrodion-icon"></span>
              </h4>
            </div>
            <div class="accrodion-content">
              <div class="inner">
                <p>
                  Interest rates vary depending on the type of loan, the amount
                  borrowed, and other factors such as your credit score and
                  financial history.
                </p>
              </div>
            </div>
          </div>
          <!-- End Faq One Single-->

          <!--Start Faq One Single-->
          <div class="accrodion wow fadeInUp" data-wow-delay="0ms">
            <div class="accrodion-title">
              <h4>
                How can I contact you if I have additional questions?
                <span class="accrodion-icon"></span>
              </h4>
            </div>
            <div class="accrodion-content">
              <div class="inner">
                <p>
                  You can contact us by phone (<%= settings.siteFirstMobile %>),
                  email (<%= settings.siteEmail %>), or through our website. Our
                  friendly and knowledgeable team is always available to answer
                  any questions you may have.
                </p>
              </div>
            </div>
          </div>
          <!-- End Faq One Single-->
        </div>
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-lg-6">
        <div
          class="accrodion-grp faq-one-accrodion"
          data-grp-name="faq-one-accrodion-2"
        >
          <!--Start Faq One Single-->
          <div class="accrodion active wow fadeInUp" data-wow-delay="0ms">
            <div class="accrodion-title">
              <h4>
                Do you require collateral for your loans?
                <span class="accrodion-icon"></span>
              </h4>
            </div>
            <div class="accrodion-content">
              <div class="inner">
                <p>
                  Collateral requirements vary depending on the type of loan.
                  Some loans require collateral such as real estate or
                  equipment, while others do not.
                </p>
              </div>
            </div>
          </div>
          <!-- End Faq One Single-->
          <!--Start Faq One Single-->
          <div class="accrodion wow fadeInUp" data-wow-delay="0ms">
            <div class="accrodion-title">
              <h4>
                What are your repayment terms?
                <span class="accrodion-icon"></span>
              </h4>
            </div>
            <div class="accrodion-content">
              <div class="inner">
                <p>
                  Repayment terms vary depending on the type of loan. Generally,
                  we offer flexible repayment terms ranging from a few months to
                  several years.
                </p>
              </div>
            </div>
          </div>
          <!-- End Faq One Single-->
          <!--Start Faq One Single-->
          <div class="accrodion wow fadeInUp" data-wow-delay="0ms">
            <div class="accrodion-title">
              <h4>
                Do you offer refinancing options?
                <span class="accrodion-icon"></span>
              </h4>
            </div>
            <div class="accrodion-content">
              <div class="inner">
                <p>
                  Yes, we offer refinancing options for existing loans. This can
                  help you lower your monthly payments or reduce your interest
                  rates.
                </p>
              </div>
            </div>
          </div>
          <!-- End Faq One Single-->
          <!--Start Faq One Single-->
          <div class="accrodion wow fadeInUp" data-wow-delay="0ms">
            <div class="accrodion-title">
              <h4>
                What is your experience working with startups and small
                businesses?
                <span class="accrodion-icon"></span>
              </h4>
            </div>
            <div class="accrodion-content">
              <div class="inner">
                <p>
                  We have extensive experience working with startups and small
                  businesses. We understand the unique challenges and
                  opportunities that these businesses face, and we offer
                  tailored financial solutions to help them succeed.
                </p>
              </div>
            </div>
          </div>
          <!-- End Faq One Single-->

          <!--Start Faq One Single-->
          <div class="accrodion wow fadeInUp" data-wow-delay="0ms">
            <div class="accrodion-title">
              <h4>
                What is your privacy policy?
                <span class="accrodion-icon"></span>
              </h4>
            </div>
            <div class="accrodion-content">
              <div class="inner">
                <p>
                  We take the privacy of our clients very seriously. We have a
                  strict privacy policy in place that outlines how we collect,
                  use, and protect your personal and financial information.
                </p>
              </div>
            </div>
          </div>
          <!-- End Faq One Single-->
        </div>
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.faq-grid -->
<section class="faq-form pt-120 pb-120">
  <div class="container">
    <div class="block-title text-center">
      <p class="block-title__tagline">contact</p>
      <!-- /.block-title__tagline -->
      <h2 class="block-title__title">
        Feel free to get in touch <br />
        with our team
      </h2>
      <!-- /.block-title__title -->
    </div>
    <!-- /.block-title -->
    <form action="/forms/contact-us" class="form-one contact-form-validated">
      <div class="row row-gutter-y-20 row-gutter-x-20">
        <div class="col-md-6">
          <input type="text" placeholder="Full name" name="name" />
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6">
          <input type="email" placeholder="Email address" name="email" />
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6">
          <input type="text" placeholder="Phone number" name="phone" />
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6">
          <input type="text" placeholder="Subject" name="subject" />
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-12">
          <textarea placeholder="Message" name="message"></textarea>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-12 text-center">
          <button type="submit" class="thm-btn">Send a Message</button
          ><!-- /.thm-btn -->
        </div>
        <!-- /.col-md-6 -->
      </div>
      <!-- /.row -->
    </form>
  </div>
  <!-- /.container -->
</section>
<!-- /.faq-form -->
<%- include('../layouts/footer') %>
