<%- include('../layouts/header') %>

<section class="benefit-one pt-120">
  <div
    class="benefit-one__shape-1 wow fadeInLeft"
    data-wow-delay="000ms"
    data-wow-duration="1500ms"
    style="background-image: url(assets/images/backgrounds/benefit-bg-1-1.jpg)"
  ></div>
  <!-- /.benefit-one__shape-1 -->
  <div class="benefit-one__shape-2"></div>
  <!-- /.benefit-one__shape-2 -->
  <div class="container">
    <div class="row row-gutter-y-60">
      <div class="col-lg-6">
        <div
          class="benefit-one__image wow fadeInUp"
          data-wow-duration="1500ms"
          data-wow-delay="500ms"
        >
          <img src="assets/images/resources/benefit-1-1.png" alt="" />
          <div class="benefit-one__image__caption">
            <h3 class="benefit-one__image__title">99.9%</h3>
            <!-- /.benefit-one__image__title -->
            <p class="benefit-one__image__text">Success Rates Guarantee</p>
            <!-- /.benefit-one__image__text -->
          </div>
          <!-- /.benefit-one__image__caption -->
        </div>
        <!-- /.benefit-one__image -->
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-lg-6">
        <div class="benefit-one__content">
          <div class="block-title text-left">
            <p class="block-title__tagline">Venture Capitals</p>
            <!-- /.block-title__tagline -->
            <h2 class="block-title__title">
              Supporting Startups and Small Businesses.
            </h2>
            <!-- /.block-title__title -->
          </div>
          <!-- /.block-title -->
          <p class="benefit-one__text">
            At Elite Capital Funding Group LLC, we believe that supporting
            startups and small businesses is essential for a strong economy.
            That's why we offer a range of financial services specifically
            tailored to the needs of entrepreneurs and small business owners.
            From startup funding to business loans and lines of credit, we are
            committed to helping our clients achieve their financial goals and
            grow their businesses.
          </p>
          <!-- /.benefit-one__text -->
          <div class="benefit-one__box">
            <div class="benefit-one__box__icon">
              <i class="icon-bank"></i>
            </div>
            <!-- /.benefit-one__box__icon -->
            <div class="benefit-one__box__content">
              <h3 class="benefit-one__box__title">Lowest Processing Fees</h3>
              <!-- /.benefit-one__box__title -->
              <p class="benefit-one__box__text">
                We are committed to providing you with the best service
                possible. Our policy is to provide you with the best service
                possible at a very affordable rate.
              </p>
              <!-- /.benefit-one__box__text -->
            </div>
            <!-- /.benefit-one__box__content -->
          </div>
          <!-- /.benefit-one__box -->
          <div class="benefit-one__box">
            <div class="benefit-one__box__icon">
              <i class="icon-payment"></i>
            </div>
            <!-- /.benefit-one__box__icon -->
            <div class="benefit-one__box__content">
              <h3 class="benefit-one__box__title">Limitless Funding</h3>
              <!-- /.benefit-one__box__title -->
              <p class="benefit-one__box__text">
                We do not discriminate, our watchword is quality and assured
                service delivery. We are here to help you achieve your goals.
              </p>
              <!-- /.benefit-one__box__text -->
            </div>
            <!-- /.benefit-one__box__content -->
          </div>
          <!-- /.benefit-one__box -->
          <div class="benefit-one__box">
            <div class="benefit-one__box__icon">
              <i class="icon-smartphone-1"></i>
            </div>
            <!-- /.benefit-one__box__icon -->
            <div class="benefit-one__box__content">
              <h3 class="benefit-one__box__title">Easy in 3 steps</h3>
              <!-- /.benefit-one__box__title -->
              <p class="benefit-one__box__text">
                We want to deliver on our promises faster than you may think.
                Our policy is to provide you with the best service possible.
              </p>
              <!-- /.benefit-one__box__text -->
            </div>
            <!-- /.benefit-one__box__content -->
          </div>
          <hr />
          <!-- /.benefit-one__box -->
          <p class="benefit-one__text">
            Our experienced team of financial advisors understands the unique
            challenges and opportunities that startups and small businesses
            face, and we work closely with each client to provide personalized
            guidance and support. Whether you're just starting out or looking to
            expand your business, we're here to help you succeed.
          </p>
        </div>
        <!-- /.benefit-one__content -->
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.benefit-one -->
<%- include('../layouts/footer') %>
